In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/home/koushik/spark"

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("7006SCN_PP") \
    .master("local[*]") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "100") \
    .getOrCreate()

print("Spark version:", spark.version)

Spark version: 3.5.1

In [3]:
from pyspark.sql.types import *

schema = StructType([
    StructField("txn_id", StringType(), True),
    StructField("price", IntegerType(), True),
    StructField("date", TimestampType(), True),
    StructField("postcode", StringType(), True),
    StructField("prop_type", StringType(), True),
    StructField("old_new", StringType(), True),
    StructField("duration", StringType(), True),
    StructField("paon", StringType(), True),
    StructField("saon", StringType(), True),
    StructField("street", StringType(), True),
    StructField("locality", StringType(), True),
    StructField("town", StringType(), True),
    StructField("district", StringType(), True),
    StructField("county", StringType(), True),
    StructField("ppd", StringType(), True),
    StructField("status", StringType(), True)
])

df = spark.read.csv(
    "/home/koushik/pp-complete.csv",
    schema=schema,
    header=False
)

df.printSchema()
df.show(5)

root
 |-- txn_id: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- postcode: string (nullable = true)
 |-- prop_type: string (nullable = true)
 |-- old_new: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- paon: string (nullable = true)
 |-- saon: string (nullable = true)
 |-- street: string (nullable = true)
 |-- locality: string (nullable = true)
 |-- town: string (nullable = true)
 |-- district: string (nullable = true)
 |-- county: string (nullable = true)
 |-- ppd: string (nullable = true)
 |-- status: string (nullable = true)

+--------------------+-----+-------------------+--------+---------+-------+--------+-----------+----+-------------+--------+--------+--------------------+--------------+---+------+
|              txn_id|price|               date|postcode|prop_type|old_new|duration|       paon|saon|       street|locality|    town|            district|        county|ppd|status|
+--------------------+-----+-------------------+--------+---------+-------+--------+-----------+----+-------------+--------+--------+--------------------+--------------+---+------+
|{2A289E9F-6BB5-CD...|36995|1995-03-24 00:00:00|SE19 3NF|        F|      N|       L|CROWN POINT|  14|  BEULAH HILL|    NULL|  LONDON|             CROYDON|GREATER LONDON|  A|     A|
|{2A289E9F-6BBA-CD...|25000|1995-03-31 00:00:00| E16 1LG|        F|      N|       L|          9|NULL|POLLARD CLOSE|    NULL|  LONDON|              NEWHAM|GREATER LONDON|  A|     A|
|{2A289E9F-6BC5-CD...|25500|1995-05-17 00:00:00| EN3 6EA|        F|      N|       L|         33|NULL| BRIDLE CLOSE|    NULL| ENFIELD|             ENFIELD|GREATER LONDON|  A|     A|
|{2A289E9F-7DE9-CD...|42000|1995-04-21 00:00:00| N13 4RS|        T|      N|       L|         87|NULL| RUSSELL ROAD|    NULL|  LONDON|             ENFIELD|GREATER LONDON|  A|     A|
|{2A289E9F-7DF0-CD...|43000|1995-06-30 00:00:00|RM10 7NU|        T|      N|       F|         45|NULL|BOSWORTH ROAD|    NULL|DAGENHAM|BARKING AND DAGENHAM|GREATER LONDON|  A|     A|
+--------------------+-----+-------------------+--------+---------+-------+--------+-----------+----+-------------+--------+--------+--------------------+--------------+---+------+
only showing top 5 rows

In [4]:
print("Total Rows:", df.count())
print("Total Columns:", len(df.columns))

[Stage 1:=============================================>           (33 + 8) / 41]

Total Rows: 30906560
Total Columns: 16

In [5]:
from pyspark.sql.functions import col, count, when

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

[Stage 4:=============================================>           (33 + 8) / 41]

+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+
|txn_id|price|date|postcode|prop_type|old_new|duration|paon|    saon|street|locality|town|district|county|ppd|status|
+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+
|     0|    0|   0|   50375|        0|      0|       0|4184|27212395|491329|11709737|   0|       0|     0|  0|     0|
+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+

In [8]:
from pyspark.sql.functions import col, count, when

total_rows = df.count()

missing_postcode = df.filter(col("postcode").isNull()).count()

percentage_missing = (missing_postcode / total_rows) * 100

print("Total Rows:", total_rows)
print("Missing Postcode Rows:", missing_postcode)
print("Percentage Missing Postcode: {:.4f}%".format(percentage_missing))

[Stage 10:=============================================>          (33 + 8) / 41]

Total Rows: 30906560
Missing Postcode Rows: 50375
Percentage Missing Postcode: 0.1630%

In [9]:
df_clean = df.dropna(subset=["postcode"])

print("Rows After Dropping Postcode Nulls:", df_clean.count())

[Stage 13:=============================================>          (33 + 8) / 41]

Rows After Dropping Postcode Nulls: 30856185

In [10]:
duration_stats = df_clean.groupBy("duration").count().orderBy("count", ascending=False)

duration_stats.show(truncate=False)

[Stage 16:=============================================>          (33 + 8) / 41]

+--------+--------+
|duration|count   |
+--------+--------+
|F       |23595126|
|L       |7260527 |
|U       |532     |
+--------+--------+

In [11]:
print("Unique Duration Categories:", df_clean.select("duration").distinct().count())

[Stage 19:=============================================>          (33 + 8) / 41]

Unique Duration Categories: 3

In [12]:
missing_duration = df_clean.filter(col("duration").isNull()).count()

print("Missing Duration Rows:", missing_duration)

[Stage 25:=============================================>          (33 + 8) / 41]

Missing Duration Rows: 0

In [13]:
from pyspark.sql.functions import col, count, when

null_counts = df_clean.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in df_clean.columns]
)

null_counts.show(truncate=False)

[Stage 28:=============================================>          (33 + 8) / 41]

+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+
|txn_id|price|date|postcode|prop_type|old_new|duration|paon|saon    |street|locality|town|district|county|ppd|status|
+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+
|0     |0    |0   |0       |0        |0      |0       |4183|27179276|482422|11686915|0   |0       |0     |0  |0     |
+------+-----+----+--------+---------+-------+--------+----+--------+------+--------+----+--------+------+---+------+

In [14]:
columns_to_drop = [
    "txn_id",
    "paon",
    "saon",
    "street",
    "locality",
    "ppd",
    "status"
]

df_final_clean = df_clean.drop(*columns_to_drop)

df_final_clean.printSchema()

root
 |-- price: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- postcode: string (nullable = true)
 |-- prop_type: string (nullable = true)
 |-- old_new: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- town: string (nullable = true)
 |-- district: string (nullable = true)
 |-- county: string (nullable = true)

In [15]:
from pyspark.sql.functions import col, sum

df_final_clean.select([
    sum(col(c).isNull().cast("int")).alias(c+"_nulls")
    for c in df_final_clean.columns
]).show()

[Stage 31:=============================================>          (33 + 8) / 41]

+-----------+----------+--------------+---------------+-------------+--------------+----------+--------------+------------+
|price_nulls|date_nulls|postcode_nulls|prop_type_nulls|old_new_nulls|duration_nulls|town_nulls|district_nulls|county_nulls|
+-----------+----------+--------------+---------------+-------------+--------------+----------+--------------+------------+
|          0|         0|             0|              0|            0|             0|         0|             0|           0|
+-----------+----------+--------------+---------------+-------------+--------------+----------+--------------+------------+

In [16]:
df_final_clean.filter(df_final_clean.price <= 0).count()

0

In [17]:
df_final_clean.select("price").describe().show()

[Stage 37:=============================================>          (33 + 8) / 41]

+-------+-----------------+
|summary|            price|
+-------+-----------------+
|  count|         30856185|
|   mean|233159.2306302286|
| stddev|955949.1723705883|
|    min|                1|
|    max|        900000000|
+-------+-----------------+

In [18]:
df_model = df_final_clean.filter(
    (df_final_clean.price >= 10000) & 
    (df_final_clean.price <= 5000000)
)

print("Rows After Removing Outliers:", df_model.count())

[Stage 40:=============================================>          (33 + 8) / 41]

Rows After Removing Outliers: 30766648

In [19]:
df_model.select("price").describe().show()

[Stage 43:=============================================>          (33 + 8) / 41]

+-------+------------------+
|summary|             price|
+-------+------------------+
|  count|          30766648|
|   mean|218313.20234836763|
| stddev|246086.68611275827|
|    min|             10000|
|    max|           5000000|
+-------+------------------+

In [20]:
from pyspark.sql.functions import log1p

df_model = df_model.withColumn("log_price", log1p("price"))

df_model.select("price", "log_price").show(5)

+-----+------------------+
|price|         log_price|
+-----+------------------+
|36995| 10.51856507767415|
|25000| 10.12667110305036|
|25500|10.146472946063877|
|42000|10.645448706505872|
|43000|10.668978650219241|
+-----+------------------+
only showing top 5 rows

In [21]:
df_final_clean.write.mode("overwrite").parquet("pp_parquet")